@model TaskFormModel

@{
    ViewBag.Title = "HTML and CSS";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="col-md-4">
    <div class="card mb-3">
        <h1>@Model.Title</h1><br />

        <h3>@Model.Name</h3><br />
        <h3>@Model.Task</h3><br />
        <h3>@Model.Input</h3><br />
        <h3>@Model.Output</h3><br />
    </div>
</div>
